
.app {
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
}

.f-size-lg {
    font-size: 1.32em;
}

.f-size-md {
    font-size: 1.05em;
}

.hdr {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.hdr-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid RGB(50,54,58);
    border-radius: 2px;
    background-color: RGB(39,43,46);
    margin-right: 10%;
    height: 14%;
    font-size: 1.9em;
    margin-top: 1%;
}

.hdr-btn:hover:active {
    color: RGB(227,186,17);
}

.hdr-btn:hover {
    color: white;
}

.orng {
    color: RGB(227,186,17);
}

.ftr {
    width: 320px;
    height: 320px;
    border: 1px solid blue;
}

.flt-rgt {
    float: right;
}

.bg-drkgry {
    background-color: RGB(33,37,40);
}

.off-wht {
    color: RGB(221, 238, 247);
}

.wht {
    color: RGB(255, 255, 255);
}
.gry {
    color: RGB(104, 118, 127);
}

.neon {
    color: RGB(80, 251, 156);
}

@keyframes becomeVisible {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

.hdn {
    opacity: 0;
}

.anime-visible {
    animation: 0.5s ease-in 0s 1 becomeVisible forwards;
}

.delay-animation-1 {
    animation-delay: 0.5s;
}

.delay-animation-2 {
    animation-delay: 1s;
}

.delay-animation-3 {
    animation-delay: 1.75s;
}

.delay-animation-4 {
    animation-delay: 2s;
}

.delay-animation-5 {
    animation-delay: 2.25s;
}

.delay-animation-6 {
    animation-delay: 2.50s;
}

.delay-animation-7 {
    animation-delay: 2.75s;
}

.delay-animation-8 {
    animation-delay: 3s;
}

.delay-animation-9 {
    animation-delay: 3.25s;
}

.delay-animation-10 {
    animation-delay: 3.75s;
}

.intro-cntnr {
    padding-left: 4%;
    margin-top: 1.9%;
    min-height: 0;
    height: 100%;
}

.intro-cntnr .intro-cntnr {
    border-left: 1px solid RGB(63, 69, 73);
}

.intro-lst {
    display: flex;
    justify-content: space-around;
}

.intro-lst-itm {
    background-color: RGB(38, 43, 46);
    font-size: 0.85em;
    padding: 2% 2% 2% 2%;
    border-radius: 2px;
}

.intro-msg {
    display: inline;
}

/********* BODY ************/
.bdy {
    width: 100%;
}

.prjs-cntnr {
    display: flex;
    border-left: 1px solid RGB(227, 231, 235);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prj {
    height: 320px;
    width: 100%;
    box-sizing: border-box;
    padding: 9% 5% 9% 5%;
}

.prj-hdr {
    color: RGB(33,37,40);
    margin-bottom: 3%;
}

.prj-txt {
    word-break: break-all;
    overflow-wrap: break-word;
    font-family: 'Source Code Pro', monospace;
    color: RGB(123,138,148);
    margin-bottom: 3%;
}

.prj-wnd {
    border: 1px solid red;
    height: 60%;
    width: 100%;
    border-color: RGB(214,214,214);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.6;
}

.prj-bar {
    background-color: RGB(214,214,214);
    height: 10%;
    padding-left: 3%;
}

.prj-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3%;
}

.prj-img {

}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-orange {
    background-color: orange;
}