
h1 {
    font-size: 153%;
}

h4 {
    font-size: 100%;
}

.hdr {
    width: 320px;
    height: 320px;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
}

.hdr-btn {
    border: 1px solid RGB(50,54,58);
    border-radius: 2px;
    background-color: RGB(39,43,46);
    margin-right: 10%;
    height: 29px;
    font-size: 80%;
    margin-top: 3px;
    text-align: center;
}

.bdy {
    width: 320px;
    height: 320px;
    border: 1px solid purple;
}

.ftr {
    width: 320px;
    height: 320px;
    border: 1px solid blue;
}

.flt-rgt {
    float: right;
}

.bg-drkgry {
    background-color: RGB(33,37,40);
}

.off-wht {
    color: RGB(221, 238, 247);
}

.wht {
    color: RGB(255, 255, 255);
}
.gry {
    color: RGB(104, 118, 127);
}

.neon {
    color: RGB(80, 251, 156);
}

@keyframes becomeVisible {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

.hdn {
    opacity: 0;
}

.anime-visible {
    animation: 0.5s ease-in 0s 1 becomeVisible forwards;
}

.delay-animation-1 {
    animation-delay: 0.5s;
}

.delay-animation-2 {
    animation-delay: 1s;
}

.delay-animation-3 {
    animation-delay: 1.5s;
}

.delay-animation-4 {
    animation-delay: 2s;
}

.delay-animation-5 {
    animation-delay: 2.25s;
}

.delay-animation-6 {
    animation-delay: 2.50s;
}

.delay-animation-7 {
    animation-delay: 2.75s;
}

.delay-animation-8 {
    animation-delay: 3s;
}

.delay-animation-9 {
    animation-delay: 3.25s;
}

.delay-animation-10 {
    animation-delay: 3.75s;
}

.delay-animation-11 {
    animation-delay: 4.00s;
}

.intro-cntnr {
    padding-left: 14px;
    margin-top: 8px;
    height: 100%;
}

.intro-cntnr .intro-cntnr {
    border-left: 1px solid RGB(63, 69, 73);
}

.intro-lst {
    display: flex;
    justify-content: space-around;
}

.intro-lst-itm {
    background-color: RGB(38, 43, 46);
    font-size: 68%;
    padding: 7px 10px 10px 7px;
    border-radius: 2px;
}
